/*nav Anfang*/

html,
body {
    margin: 0pX;
    background-color: #d9c6b0;
    font-family: "Montserrat", "Helvetica";
}

.brand-link {
    padding-left: 10px;
    height: 100px;
    width: 110px;
}


/*nav Anfang*/

a {
    color: #000;
}


/* header */

.header {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul menu {
    background-color: rgba(255, 255, 255, 0.7);
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 20px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}


/*nav Ende*/

.firstslide {
    position: absolute;
    font-size: 60px;
    color: #405908;
    text-align: left;
    line-height: 96%;
    letter-spacing: 5px;
    left: 63%;
    bottom: 0%;
    top: 40%;
}

.button {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0px;
    background-color: #a69177;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 4px black;
}


/*Produkt1 */

.schoko {
    width: 450px;
    padding-left: 10px;
}

.produkt1text {
	 list-style-type: none;

}

/*Produkt2*/

.hell {
    width: 450px;
}

.produkt2text {
    padding-left: 120px;
}


/* Unsere Werte */

#Hände {
    width: 100%;
}

.wertetext {
    position: absolute;
	left: 25%;
	padding-top: 5%;
    font-size: 90px;
    color: white;
}

.wertepacket {
    padding: 50px;
}

.h1 {
    font-size: medium;
}

.werte-icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
}


/* Über uns */

.portrait {
	width: 220;
	height:200px;
}

.h1 {
    font-size: medium;
}

.ueber_uns_Titel {
    color: #405908;
    font-size: 40px;
    display: inline-block;
}

.unsere_namen {
    color: #405908;
    text-align: center;
}

.zitate {
    color: black;
    text-align: center;
}

.ueber_uns-container {
    padding: 20px;
    text-align: center;
}


/*Sign-up*/

* {
    box-sizing: border-box
}


/* Full-width input fields */

input[type=text],
input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


/* Add a background color when the inputs get focus */

input[type=text]:focus,
input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for all buttons */

button {
    background-color: #a69177;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.9;
    border-radius: 50%;
}

button:hover {
    opacity: 1;
}


/* Float cancel and signup buttons and add an equal width */

.signupbtn {
    float: left;
    width: 60px;
    margin-top: 1em;
    margin-right: 1em;
}


/* Add padding to container elements */

.container {
    padding: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .signupbtn {
        width: 100%;
    }
}


/*Footer*/

#myFooter {
    background-color: #2E5900;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#logo-image {
    width: 200px;
    height: 200px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h3 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
}

#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.mobile-image {
    display: none;
}

.mobile-only {
	display: none;
}

@media (max-width: 768px) {
    nav ul li {
        flex-direction: column;
        text-align: center;
    }
    .brand-link {
        width: 70px;
        height: 70px;
        padding: 5px;
    }
    .wertetext {
        font-size: 40px;
		left:20%;
    }
    .slideshow-oben {
        display: none;
    }
    .mobile-image {
        display: block;
    }
    .mobile.firstslide {
        position: relative;
    }
    .mobiletext {
        padding-right: 90%;
    }
    .mobilebutton {
        display: none;
    }
    .desktop-produkt {
        display: none;
    }
	.mobile-only {
		display: block;
	}
}